.fill-in-box-open {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 18px;
  cursor: pointer;
}

.fill-in-box {
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px solid #a6a6a6;
  background-color: #fff;
  padding: 10px 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.8s;
}

.fill-in-box.active {
  opacity: 1;
  transform: translateX(0%);
}

.fill-in-box > .input-item {
  display: flex;
  flex-direction: column;
}

.fill-in-box > .input-item > span {
  margin-left: 10px;
}

.fill-in-box > .input-item > input {
  width: 100px;
  border: 1px solid rgb(166, 166, 166);
  margin: 5px 0 15px 10px;
  padding-left: 10px;
}

.fill-in-box > .input-item .sport-input {
  padding-left: 10px;
}

.fill-in-box > .input-item > .sport-add {
  padding-left: 10px;
}

.fill-in-box > .input-item > .sport-add > span:nth-child(2) {
  margin-left: 5px;
  cursor: pointer;
}

.fill-in-box > .input-item .sport-input > input {
  width: 50px;
  border: 1px solid #a6a6a6;
  margin: 5px 10px 0px 5px;
  padding-left: 10px;
}

.fill-in-box > .form-btn {
  display: inline-block;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  padding: 3px 20px;
  margin: 20px 0 0 10px;
  cursor: pointer;
}

.fill-in-box > .form-btn:hover {
  background-color: #a6a6a6;
  color: #fff;
}

.fill-in-box > .form-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}
